{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "linebreak-style": "off",
    "no-empty": ["error", {
      "allowEmptyCatch": true
    }],
    "semi": ["warn", "always"],
    "max-len": ["error", {
      "code": 120,
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "react/jsx-uses-vars": "error",
    "react/jsx-key": "error",
    "react/no-unescaped-entities": "off",
    "react/prop-types": "off", // TODO: fix all
    "react/display-name": "off",
    "@typescript-eslint/no-explicit-any": ["off"], // TODO: fix all explicit any's
    "@typescript-eslint/explicit-module-boundary-types": ["off"],
    "@typescript-eslint/no-unused-vars": ["warn"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/ban-ts-comment": ["off"], // TODO: fix all
    "@typescript-eslint/no-empty-function": ["off"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "16.13"
    }
  }
}
